<html>
<div class="alert">
  <app-alerts></app-alerts>
</div>
<body class="bckgrnd">
  <!-- <div class="content"> -->
    <img class="logo" src="../../assets/JobStop (3).png">
    <p class="tagline">One Stop For all the jobs</p>
    
    <div class="form">
      <ul class="tab-group">
        <li class="tab {{activeApplicant}}">
          <a (click)="login('Applicant'); Applicant()">Applicant</a>
        </li>
        <li class="tab {{activeCompany}}">
          <a (click)="login('Company'); Company()">Company</a>
        </li>
      </ul>
      <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)" (signInFailure)="errorCallback($event)"></firebase-ui>
    </div>
  <!-- </div> -->
  <!-- <button (click)="logout()">Logout</button> -->
</body>

</html>
