<div style="background-color: #f2f2f2">
  <p style="" class="head"><b>COMPANIES</b></p>
  <div *ngFor="let item of items | async">
    <mat-card class="companies" *ngFor="let job of item.jobs | keyvalue">
      <div class="main">
        <img class="image" src="{{item.image}}">
        <h4 class="name">{{item.name}}</h4>
      </div>
      <div class="detail">
        <p class="para">
          <b>Contacts: </b>{{item.contact_details}}</p>
        <p class="para">
          <b>Location: </b>{{item.location}}</p>
        <p class="para">
          <b>Email: </b>{{item.email}}</p>
        <p class="para">
          <b>Title: </b>{{job.value.jobtitle}}</p>
        <!-- <p class="para"><b>Skills: </b>{{item.skills_required}}</p> -->
      </div>
      <div class="navi">
        <button class="btn" (click)="apply(item,job.value.jobtitle)">Apply</button>
      </div>
    </mat-card>
  </div>
</div>