<div class="alert">
  <app-alerts></app-alerts>
</div>
<div  class="container">
  <h1  class="head" >APPLICANTS <select class='jobtitle tag' (change)="onSelect($event)">
    <option> ...</option>
    <option  *ngFor="let job of jobs" value="{{job}}" class="jobtitle tag">{{job}}</option>
  </select></h1>
  <mat-card class="applicants" *ngFor="let item of items ">
    <div class="detail">
      <h2 class="name">{{item.name}}</h2>
      <p class="para">Job Title:{{item.jobtitle}}</p>
      <!--<p class="para">CGPA:{{item.CGPA}}</p>-->
      <!--<p class="para">uid:{{item.uid}}</p>-->
    </div>
    <div class="navi">
      <!-- <a class="link" href="#">Resume</a> -->
      <button class="btn" (click)="call(item.uid)">Call for Interview</button>
      <!-- <button class="btn" (click)="reject(item.uid)">Reject</button> -->
    </div>
  </mat-card>
</div>

<div class="mcontainer">
  <div class="mhead">APPLICANTS</div>
  <select class='mjobtitle mtag' (change)="onSelect($event)">
    <option> ...</option>
    <option *ngFor="let job of jobs" value="{{job}}" class="jobtitle tag">{{job}}</option>
  </select>
  <mat-card class="mapplicants" *ngFor="let item of items ">
    <div class="mdetail">
      <h2 class="mname">{{item.name}}</h2>
      <p class="mpara">Job Title:{{item.jobtitle}}</p>
      <!--<p class="mpara">CGPA:{{item.CGPA}}</p>-->
      <!--<p class="mpara">uid:{{item.uid}}</p>-->
    </div>
    <div class="mnavi">
      <!-- <a class="mlink" href="#">Resume</a> -->
      <button class="mbtn" (click)="call(item.uid)">Call for Interview</button>
      <!-- <button class="btn" (click)="reject(item.uid)">Reject</button> -->
    </div>
  </mat-card>
</div>