.container{
    background: #F2F2F2;     
 }
 
 .thank{
     font-size: 1.1vw;
     text-align: center;
     padding-top:3%;
 }
 
 .head{
     font-size: 1.5vw;
     color: #006666;
     text-align: center;
     margin-bottom: 5%;
     padding-top: 5%;
 }
 
 .tag{
     font-size: 1.3vw;
     color: #006666;
     margin-left: 20%;
 }
 
 .input{
     width: 50%;
     height: 50%;
     margin-top: 1%;
     margin-bottom: 1%;
     height: 40px;
     border: none;
     margin-left: 5%;
 }
 
 .add{
     border: none;
     background: #121212;
     margin-left: 20%;
     /* margin-top: 5%; */
     height: 30%;
     padding: .5% 3%;
     border-radius: 5%;
     color: white;
     margin-bottom: 5%;
 }
 
 .submit{
     height: 5%;
     padding: 1% 5%;
     border: none;
     background: #006666;  
     margin-top: 5%; 
     margin-bottom: 5%; 
 }
 
 
 .wrapper{
     text-align: center;
 }