<div class="container">
  <p class="head"><b>JOB PROFILE</b></p>
  <div>
    <form #jobdetails="ngForm" (ngSubmit)="addJob(companydetails.value)">
      <label class="tag"><b>Company Name </b> </label>
      <input required class="input" type="text" name="companyname" placeholder="Company Name" ngModel>
      <br />
      <label class="tag"><b>Contact Person </b></label>
      <input required style="margin-left: 5.5%;" class="input" type="text" name="contactperson" placeholder="Designation"
        ngModel>
      <br />
      <label class="tag"><b>Contact number </b></label>
      <input required class="input" type="number" name="contactnumber" placeholder="contact num" ngModel>
      <br />
      <label class="tag"><b>Job Title </b></label>
      <input required style="margin-left: 9.3%;" class="input" type="text" name="jobtitle" placeholder="Job Profile"
        ngModel>
      <br />
      <label class="tag"><b>Location </b></label>
      <input style="margin-left: 9.3%;" required class="input" required type="text" name="location" placeholder="Location"
        ngModel>
      <br />
      <label class="tag"><b>Package Offered </b></label>
      <input style="margin-left: 4.8%;" required class="input" type="text" name="package" placeholder="Package Offered"
        ngModel>
      <br />
      <label class="tag"><b>Post Description </b></label>
      <input style="margin-left: 4.9%;" required class="input" type="text" name="description" placeholder="Description"
        ngModel>
      <br />
      <label class="tag"><b>Skills required </b></label>
      <input style="margin-left: 5.8%" required class="input" type="text" name="skills" placeholder="Skills required"
        ngModel>
      <br />
      <div class="wrapper">
        <input class="submit" type="submit" value="Add" [disabled]="jobdetails.invalid">
      </div>
    </form>

  </div>

</div>
