<app-header></app-header>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/node_modules/angular5-toaster/toaster.css" /> -->
</head>

<div class="container" style="height:100%">
    <button *ngIf="home" class="button" (click)="homeFunc()">Home</button>
    <button class="hide" *ngIf="!home" (click)="homeFunc()">Home</button>
    <button *ngIf="profile" class="button" (click)="profileFunc()">Profile</button>
    <button class="hide" *ngIf="!profile" (click)="profileFunc()">Profile</button>
    <button *ngIf="jobsapplied" class="button" (click)="jobsappliedFunc()">Applied Jobs</button>
    <button class="hide" *ngIf="!jobsapplied" (click)="jobsappliedFunc()">Applied Jobs</button>
    <app-candidate-status *ngIf="jobsapplied"></app-candidate-status>
    <app-candidateprofile *ngIf="profile"></app-candidateprofile>
    <app-companies *ngIf="home"></app-companies>
</div>

<div class="mcontainer">
    <div class="dropdown">
        <button class="dropbtn" style="font-size:22px; background: #006666; border: none;">
            <i class="fa fa-reorder"></i>
        </button>
        <div class="dropdown-content">
            <a class="uname">{{username}}</a>
            <a (click)="homeFunc()">Home</a>
            <a (click)="profileFunc()">Profile</a>
            <a (click)="jobsappliedFunc()">Applied Jobs</a>
            <a (click)="logout()">Logout</a>
        </div>
    </div>
    <div class = "forms">
        <app-candidate-status *ngIf="jobsapplied"></app-candidate-status>
        <app-candidateprofile *ngIf="profile"></app-candidateprofile>
        <app-companies *ngIf="home"></app-companies>
    </div>
    


</div>
<app-footer class="foot"></app-footer> 