<div class="alert">
  <app-alerts></app-alerts>
</div>
<div class="container">
  <p class="head"><b>COMPANY PROFILE</b></p>
  <div>
    <form #companydetails="ngForm" (ngSubmit)="addCompany()" style="text-align:left"> 
      <label class="tag">Company Name  </label>
      <input required  class="input" type="text" [(ngModel)]="company.companyname"
        [ngModelOptions]="{standalone : true}" placeholder="Company Name" ngModel>
      <br />
      <label class="tag">Hubs</label>
      <input required class="input" type="text" [(ngModel)]="company.hubs" [ngModelOptions]="{standalone:
          true}" placeholder="Locations" ngModel>
      <br />
      <label class="tag">Founded </label>
      <input required  class="input" type="number" [(ngModel)]="company.history"
        [ngModelOptions]="{standalone:
          true}" placeholder="Company history" ngModel>
        <br />
      <label class="tag">Website </label>
      <input required  class="input" type="text" [(ngModel)]="company.website"
        [ngModelOptions]="{standalone:
          true}" placeholder="website Id or Ids" ngModel>
      <br />
      <label class="tag">Description </label>
      <input required class="input" type="text" [(ngModel)]="company.description"
        [ngModelOptions]="{standalone:
          true}" placeholder="About" ngModel>
      <br />
      <label class="tag">Top Clients</label>
      <input  required class="input" type="text" [(ngModel)]="company.topclients"
        [ngModelOptions]="{standalone:
          true}" placeholder="Top clients" ngModel>
      <br />
      <label class="tag">E-mail Ids </label>
      <input  required class="input" type="text" [(ngModel)]="company.emailids"
        [ngModelOptions]="{standalone:
          true}" placeholder="Contact info" ngModel>
      <br />
      <label class="tag">Contact Number</label>
      <input pattern="^[789]\d{9}$" required class="input" type="text" [(ngModel)]="company.contactnumber"
        [ngModelOptions]="{standalone:
          true}" placeholder="Contact number" ngModel>
      <br />
      <label class="tag">Address</label>
      <input required class="input" type="text" [(ngModel)]="company.address"
        [ngModelOptions]="{standalone:
          true}" placeholder="Address" ngModel>
      <br />
      <div class="wrapper">
        <input class="submit" type="submit" value="Add" [disabled]="companydetails.invalid">
      </div>
    </form>
  </div>
</div>

<div class="mcontainer">
  <p class="mhead">COMPANY PROFILE</p>
  <div>
    <form #companydetails="ngForm" (ngSubmit)="addCompany()">
      <label class="tag">Company Name  </label>
      <input required class="minput" type="text" [(ngModel)]="company.companyname" [ngModelOptions]="{standalone:
          true}"
        placeholder="Company Name" ngModel>
      <br />
      <label class="tag">Hubs</label>
      <input required class="minput" type="text" [(ngModel)]="company.hubs" [ngModelOptions]="{standalone:
          true}"
        placeholder="Locations" ngModel>
      <br />
      <label class="tag">Founded </label>
      <input required class="minput" type="number" [(ngModel)]="company.history" [ngModelOptions]="{standalone:
          true}"
        placeholder="Company history" ngModel>
      <br />
      <label class="tag">Website </label>
      <input required class="minput" type="text" [(ngModel)]="company.website" [ngModelOptions]="{standalone:
          true}"
        placeholder="website Id or Ids" ngModel>
      <br />
      <label class="tag">Description </label>
      <input required class="minput" type="text" [(ngModel)]="company.description" [ngModelOptions]="{standalone:
          true}"
        placeholder="About" ngModel>
      <br />
      <label class="tag">Top Clients</label>
      <input required class="minput" type="text" [(ngModel)]="company.topclients" [ngModelOptions]="{standalone:
          true}"
        placeholder="Top clients" ngModel>
      <br />
      <label class="tag">E-mail Ids </label>
      <input required class="minput" type="text" [(ngModel)]="company.emailids" [ngModelOptions]="{standalone:
          true}"
        placeholder="Contact info" ngModel>
      <br />
      <label class="tag">Contact Number</label>
      <input pattern="^[789]\d{9}$" required class="minput" type="text" [(ngModel)]="company.contactnumber"
        [ngModelOptions]="{standalone:
          true}" placeholder="Contact number" ngModel>
      <br />
      <label class="tag">Address</label>
      <input required class="minput" type="text" [(ngModel)]="company.address" [ngModelOptions]="{standalone:
          true}"
        placeholder="Address" ngModel>
      <br />
      <div class="wrapper">
        <input class="msubmit" type="submit" value="Add" [disabled]="companydetails.invalid">
      </div>
    </form>

  </div>

</div>