.container {
  background: #F2F2F2;
}

.mcontainer{
  display: none;
}

.applicants {
  display: flex;
  border: 03ch;
  margin: 20px;
  background-color:snow;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
}

.btn {
  justify-self: flex-end;
  /* padding-left: 5%; */
  align-self: center;
  height: 25px;
  border: 0px;
  margin: 5px;
  background-color: #006666;
}

.link {
  align-self: center;
  text-decoration: none;
  color: blue;
  padding: 20px;
}

.name {
  color: rgb(36, 56, 56);
}

.para {
  font-size: 15px;
  color: rgb(59, 58, 58);
  margin: 10px;
}

.navi {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-content: center;
}

@media only screen and (max-width: 640px) {
  .container {
    display: none;
  }

  .foot {
    display: none;
  }

  .mcontainer {
    display: block;
    background: #F2F2F2;
  }

  /* .mhead{
    width : 200%;
    text-align: center;
    color: #006666;
  } */

  .mapplicants {
    display: flex;
    border: 03ch;
    margin: 20px;
    background-color: snow;
  }

  .mdetail {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
  }

  .mbtn {
    justify-self: flex-end;
    /* padding-left: 5%; */
    align-self: center;
    height: 25px;
    border: 0px;
    margin: 5px;
    background-color: #006666;
  }

  .mlink {
    align-self: center;
    text-decoration: none;
    color: blue;
    padding: 20px;
  }

  .mname {
    color: rgb(36, 56, 56);
  }

  .mpara {
    font-size: 15px;
    color: rgb(59, 58, 58);
    margin: 10px;
  }

  .mnavi {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    align-content: center;
  }


}

