<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class = "back">
<div>
    <p class = "heading"><b>Information</b></p>
    <p class = "sub">Employers contact us at:</p>
    <p class = "sub">For <b>Sales Enquiries</b></p>
    <p class = "sub">India Toll Free: <b>1800 102 2558</b></p>
    <p class = "sub">Mobile: <b>91-9818882211</b></p>
    <p class = "sub">Email:<b>sales@jobstop.com</b> </p>
</div>
<div>
    <p class = "heading"><b>Job Seekers contact us at:</b></p>
    <p class = "sub">Toll Free Number:<b>1800 3010 5557 (9.30 AM to 6.30 PM)</b></p>
    <p class = "sub">International Clients:<b>+91 120 4021100 (9.30 AM to 6.00 PM IST)</b></p>
    <p class = "sub">Naukri FastForward Services</p>
    <p class = "sub"><b>service@jobstop.com</b></p>
</div>

<div style="margin-left: 10%;">
    <p class = "heading"><b>Contact Address:</b></p>
    <p class = "sub"><b>Job Stop (India) Ltd.</b>:</p>
    <p class = "sub">N 801- 802, 8th floor, Manipal Center,</p>
    <p class = "sub">47, Dickenson Road</p>
    <p class = "sub">Bangalore - 560042,</p>
</div>

<div>
    <p class = "heading"><b>Follow us</b></p>
    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
    <a href="https://twitter.com/" class="fa fa-twitter"></a>
    <a href="https://plus.google.com/discover" class="fa fa-linkedin"></a>
    <a href="https://www.linkedin.com/" class="fa fa-google"></a>
    <p class="sub">About Companies</p>
    <p class="sub">Browse all Jobs</p>
    <p class="sub">Terms and Conditions</p>
    <p class="sub">Privacy Policy</p>
</div>

</div>