<div class="alert">
  <app-alerts></app-alerts>
</div>
<div class="container">
  <p class="head">
    <b>CANDIDATE PROFILE</b>
  </p>
  <div>
    <form #candidatedetails="ngForm" (ngSubmit)="addCandidate(candidatedetails.form.invalid)" style="text-align:left">
      <label class="tag">
        Name
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.name" [ngModelOptions]="{standalone:
              true}" placeholder="Your Name" required>
      <br />
      <label class="tag">
        Address
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.address" [ngModelOptions]="{standalone:
                true}" placeholder=" Present Address" ngModel>
      <br />

      <label class="tag">
        E-mail Id
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.emailid" [ngModelOptions]="{standalone: true}" placeholder="Mail Id for Communication"
        ngModel>
      <br />
      <label class="tag">
        Contact Number
      </label>
      <input required class="input" type="number" [(ngModel)]="candidate.contactnumber" [ngModelOptions]="{standalone: true}" placeholder="Contact Number"
        ngModel>
      <br />
      <div>
        <p class="wrapper1">
          10th QUALIFICATION
        </p>
      </div>
      <label class="tag">
        Institutuion
      </label>
      <input required class="input" required type="text" [(ngModel)]="candidate.qualifications.tenth_instituition" [ngModelOptions]="{standalone: true}"
        placeholder="10th Institutuion" ngModel>
      <br />
      <label class="tag">
        Percentage
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.tenth_percentage" [ngModelOptions]="{standalone: true}"
        placeholder="Overall Percentage secured" ngModel>
      <br />
      <label class="tag">
        Year of Passing
      </label>
      <input required class="input" type="number" [(ngModel)]="candidate.qualifications.tenth_year" [ngModelOptions]="{standalone: true}"
        placeholder="Year of Passing" ngModel>
      <br />
      <div>
        <p class=" wrapper1">
          12th QUALIFICATION
        </p>
      </div>
      <label class="tag">
        Institutuion
      </label>
      <input required class="input" required type="text" [(ngModel)]="candidate.qualifications.twelfth_instituition" [ngModelOptions]="{standalone: true}"
        placeholder="12th Institution" ngModel>
      <br />
      <label class="tag">
        Percentage
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.twelfth_percentage" [ngModelOptions]="{standalone: true}"
        placeholder="Overall Percentage secuered" ngModel>
      <br />
      <label class="tag">
        Year of Passing
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.twelfth_year" [ngModelOptions]="{standalone: true}"
        placeholder="Year of Passing" ngModel>
      <br />
      <div>
        <p class=" wrapper1">
          UNDER GRADUATION
        </p>
      </div>
      <label class="tag">
        Institutuion
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.ug_instituition" [ngModelOptions]="{standalone: true}"
        placeholder="UG Institution" ngModel>
      <br />
      <label class="tag">
        Percentage
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.ug_percentage" [ngModelOptions]="{standalone: true}"
        placeholder="Overall Percentage secuered or CGPA" ngModel>
      <br />
      <label class="tag">
        Year of Passing
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.ug_year" [ngModelOptions]="{standalone: true}"
        placeholder="Year of Passing" ngModel>
      <br />
      <label class="tag">
        Degree
      </label>
      <input class="input" required type="text" [(ngModel)]="candidate.qualifications.ug_degree" [ngModelOptions]="{standalone: true}"
        placeholder="Degree (e.g B.Tech, B.A, etc)" ngModel>
      <br />
      <label class="tag">
        Field
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.qualifications.ug_field" [ngModelOptions]="{standalone: true}"
        placeholder="Field (e.g Civil, ECE, etc)" ngModel>
      <br />
      <div>
        <p class="wrapper1">
          POST GRADUATION
        </p>
      </div>
      <label class="tag">
        Instituition
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.qualifications.pg_instituition" [ngModelOptions]="{standalone: true}"
        placeholder="PG Instituition" ngModel>
      <br />
      <label class="tag">
        Percentage
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.qualifications.pg_percentage" [ngModelOptions]="{standalone: true}"
        placeholder="Overall Percentage
      secured or CGPA" ngModel>
      <br />
      <label class="tag">
        Year of Passing
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.qualifications.pg_year" [ngModelOptions]="{standalone: true}" placeholder="Year of Passing"
        ngModel>
      <br />
      <label class="tag">
        Degree
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.qualifications.pg_degree" [ngModelOptions]="{standalone: true}" placeholder="Degree (e.g M.Tech, M.A, etc)"
        ngModel>
      <br />

      <label class="tag">
        Field
      </label>
      <input class="input" type="text" [(ngModel)]="candidate.qualifications.pg_field" [ngModelOptions]="{standalone: true}" placeholder="Field (e.g Civil, ECE,
      etc)" ngModel>
      <br />

      <div>
        <p class="wrapper1">
          OTHER DETAILS
        </p>
      </div>
      <label class="tag">
        Technical skills
      </label>
      <input required class="input" type="text" [(ngModel)]="candidate.techskills" [ngModelOptions]="{standalone: true}" placeholder="Enter your technical skills"
        ngModel>
      <br />
      <div *ngFor="let i of candidate.projects">
        <form #projectdetails="ngForm">
          <label class="tag">
            Project Name
          </label>
          <input class="input" type="text" [(ngModel)]="i.pname" [ngModelOptions]="{standalone: true}" placeholder="Enter your project"
            ngModel>
          <br />
          <label class="tag">
            Description
          </label>
          <input class="input" type="text" [(ngModel)]="i.pdescription" [ngModelOptions]="{standalone: true}" placeholder="Describe your project"
            ngModel>
          <br />
        </form>
      </div>
      <button class="add" (click)="addProjectFunc1()"> + Add More projects</button>
      <div class="wrapper" >
        <input class="submit" type="submit" value="SUBMIT" [disabled]="candidatedetails.form.invalid">
      </div>
    </form>
  </div>
</div>
