<div class="container">
  <p class="head"><b>CANDIDATE PROFILE</b></p>
  <div>
    <form #candidatedetails="ngForm" (ngSubmit)="addCandidate(companydetails.value)">
      <label class="tag"><b>Company Name </b> </label>
      <input required style="margin-left: 2.5%;"  class="input" type="text" name="companyname" placeholder="Company Name" ngModel>
      <br />
      <label class="tag"><b>Hubs</b></label>
      <input required style="margin-left: 9%;" class="input" type="text" name="hubs" placeholder="Locations"
        ngModel>
      <br />
      <label class="tag"><b>Founded </b></label>
      <input required style="margin-left: 6.6%;"  class="input" type="number" name="history" placeholder="Company history" ngModel>
      <br />
      <label class="tag"><b>Website </b></label>
      <input required style="margin-left: 7.1%;" class="input" type="text" name="website" placeholder="website Id or Ids"
        ngModel>
      <br />
      <label class="tag"><b>Description </b></label>
      <input style="margin-left: 5%;" required class="input" required type="text" name="description" placeholder="About"
        ngModel>
      <br />
      <label class="tag"><b>Top Clients</b></label>
      <input style="margin-left: 5.4%;" required class="input" type="text" name="topclients" placeholder="Top clients"
        ngModel>
      <br />
      <label class="tag"><b>E-mail Ids </b></label>
      <input style="margin-left: 5.6%;" required class="input" type="text" name="emailids" placeholder="Contact info"
        ngModel>
      <br />
      <label class="tag"><b>Contact Number</b></label>
      <input style="margin-left: 2.3%" required class="input" type="text" name="contactnumber" placeholder="Contact number"
        ngModel>
      <br />
      <label class="tag"><b>Address</b></label>
      <input style="margin-left: 7.3%" required class="input" type="text" name="address" placeholder="Address"
        ngModel>
      <br />
      <div class="wrapper">
        <input class="submit" type="submit" value="Add" [disabled]="candidatedetails.invalid">
      </div>
    </form>

  </div>

</div>
