<!-- <app-header></app-header> -->
<div class="container">
  <p class="head">
    <b>CANDIDATE STATUS</b>
  </p>
  <h1 class="tag">APPLIED JOBS</h1>
  <div *ngFor="let item of companies">
  <mat-card class="companies" *ngFor="let job of item.jobs">
    <div class="main">
      <img class="image" src="{{item.image}}">
      <h4 class="name">{{item.name}}</h4>
    </div>
    <div class="detail">
      <p class="para">
        <b>Contacts: </b>{{item.contact_details}}</p>
      <p class="para">
        <b>Location: </b>{{item.location}}</p>
      <p class="para">
        <b>Email: </b>{{item.email}}</p>
      <p class="para">
        <b>Title: </b>{{job.jobtitle}}</p>
      <!-- <p class="para"><b>Skills: </b>{{item.skills_required}}</p> -->
    </div>
    <!-- <div class="navi">
      <button class="btn" (click)="apply(item,job)">Apply</button>
    </div> -->
  </mat-card>
</div>
  <!-- <h1 class="tag">SHORTLISTED</h1>
    <mat-card>
    </mat-card>
  <h1 class="tag">REJECTED</h1>
    <mat-card>
    </mat-card> -->

</div>
